In [ ]:
import pandas as pd
import numpy as np
import random

from google.colab import drive
drive.mount("/content/drive/")

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [ ]:
path = "/content/drive/MyDrive/Colab/all_stations_data.csv"

In [ ]:
def flags(data):
  flags = set()
  for key in list(filter(lambda k: 'f' in k, data.select_dtypes(include='object').columns)):
    df = data[key].value_counts().rename_axis('unique_values').reset_index(name='counts')
    flags = flags | set(df['unique_values'])
    flags_list = list(flags)
  return flags_list 

def merge_flags(data, flags_list):
  df = pd.DataFrame({'Flags':flags_list})
  for key in list(filter(lambda k: 'f' in k, data.select_dtypes(include='object').columns)):  
    aux_df = data[key].value_counts().rename_axis('Flags').reset_index(name=key)
    df = df.merge(aux_df,how='left', left_on='Flags', right_on='Flags').fillna(0)
  df[list(filter(lambda k: 'f' in k, data.select_dtypes(include='object').columns))] = df[list(filter(lambda k: 'f' in k, data.select_dtypes(include='object').columns))].astype(int)
  return df

def save_to_Drive(path,df,name): 
  route = path+name+'.csv'
  with open(route, 'w', encoding = 'utf-8-sig') as f:
    df.to_csv(f, index=False)

def df_stats(data_stats): 
  data_stats = data_stats.select_dtypes(include=np.number)
 
  stats = pd.concat([
            data_stats.describe().T,
            data_stats.mode(numeric_only=True).iloc[0].rename("Mode"),
            data_stats.var( numeric_only=True).rename("Var"),
            data_stats.sem(numeric_only=True).rename('SE Mean'),
            data_stats.isnull().sum().rename('N*')
            ],
            axis = 1)
  stats = stats.rename(columns={"count": "N",
                            "std": "StdDev",
                            "25%":"Q1",
                            "75%":"Q3",
                            "50%":"Median",
                            "min":"Minimum",
                            "max":"Maximum",
                            "mean":"Mean"
                            })
  column_names = ["N",
                  "N*",
                  "Mean", 
                  "SE Mean", 
                  "StdDev", 
                  "Var", 
                  "Minimum", 
                  "Maximum", 
                  "Q1", 
                  "Median", 
                  "Q3", 
                  "Mode"]
  return stats.reindex(columns=column_names)

def apply_flags(df):

  for i in df.loc[df['wd_SO2f'] =='P'].index:
    df.wd_SO2f[i] = 0
  for i in df.loc[df['wd_CEf'] =='D'].index:
    df.wd_CEf[i] = 0  
  for key in list(df.select_dtypes(include='number').columns):
    df[key+'f'] = df[key+'f'].fillna(0)
    for i in df.loc[df[key+'f'] != 0].index:
      df[key][i] = np.nan 
    df = df.drop(key+'f', axis=1)

  return df

In [ ]:
data = pd.read_csv(path)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (50,52,54,56,58,60,62,64,66,68,70,72,74,76,78) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
flags_list = flags(data)

In [ ]:
flags = merge_flags(data, flags_list)

In [ ]:
path = "/content/drive/MyDrive/Colab/"
save_to_Drive(path, flags, "flags")

In [ ]:
clean_data = apply_flags(data)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:59: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
clean_data.columns

Index(['date', 'pm2.5_SE', 'pm2.5_CE', 'pm2.5_SO2', 'pm10_SE', 'pm10_CE',
       'pm10_SO2', 'so2_SE', 'so2_CE', 'so2_SO2', 'o3_SE', 'o3_CE', 'o3_SO2',
       'co_SE', 'co_CE', 'co_SO2', 'no_SE', 'no_CE', 'no_SO2', 'no2_SE',
       'no2_CE', 'no2_SO2', 'nox_SE', 'nox_CE', 'nox_SO2', 'pm10_NTE2',
       'pm2.5_NTE2', 'o3_NTE2', 'no_NTE2', 'no2_NTE2', 'nox_NTE2', 'so2_NTE2',
       'co_NTE2', 'prs_NTE2', 'rh_NTE2', 'tout_NTE2', 'sr_NTE2', 'rainf_NTE2',
       'ws_NTE2', 'wd_NTE2', 'rainf_SE', 'rainf_CE', 'rainf_SO2', 'sr_SE',
       'sr_CE', 'sr_SO2', 'rh_SE', 'rh_CE', 'rh_SO2', 'tout_SE', 'tout_CE',
       'tout_SO2', 'prs_SE', 'prs_CE', 'prs_SO2', 'ws_SE', 'ws_CE', 'ws_SO2',
       'wd_SE', 'wd_CE', 'wd_SO2'],
      dtype='object')

In [ ]:
path = "/content/drive/MyDrive/Colab/"
save_to_Drive(path, clean_data, "clean_data")

In [ ]:
df_stats(clean_data)

,N,N*,Mean,SE Mean,StdDev,Var,Minimum,Maximum,Q1,Median,Q3,Mode
pm2.5_SE,32802.0,6592,18.443387,0.068020,12.319400,151.767614,2.01,349.000,9.99000,15.390,23.690,8.000
pm2.5_CE,28882.0,10512,23.941130,0.092254,15.678303,245.809180,2.17,225.370,12.61000,20.000,31.240,9.000
pm2.5_SO2,20458.0,18936,17.461181,0.853129,122.024226,14889.911821,-9999.00,156.000,9.00000,16.000,25.000,11.000
pm10_SE,37422.0,1972,50.225316,0.167839,32.468143,1054.180281,2.00,706.550,28.00000,43.710,64.000,28.000
pm10_CE,37712.0,1682,52.204350,0.177788,34.525628,1192.019012,2.00,735.000,29.00000,45.000,67.000,29.000
pm10_SO2,36920.0,2474,59.727979,0.330340,63.473489,4028.883748,-9999.00,714.000,37.00000,52.000,75.000,39.000
so2_SE,31663.0,7731,7.323990,0.020896,3.718334,13.826010,0.00,67.600,4.50000,6.800,9.700,4.100
so2_CE,20485.0,18909,4.294533,0.018123,2.593839,6.728003,0.50,61.900,2.70000,3.500,5.200,3.400
so2_SO2,29449.0,9945,3.865748,0.339930,58.334423,3402.904861,-9999.00,67.400,2.90000,3.600,4.800,3.200
o3_SE,37111.0,2283,27.249252,0.096294,18.550271,344.112542,1.00,139.000,12.00000,24.000,39.000,3.000
o3_CE,31956.0,7438,28.361278,0.112321,20.078706,403.154437,1.00,148.000,12.00000,25.000,40.000,6.000
o3_SO2,37918.0,1476,25.130914,0.281969,54.906501,3014.723901,-9999.00,153.000,10.00000,22.000,35.000,3.000
co_SE,31582.0,7812,1.552670,0.004560,0.810297,0.656582,0.05,32.000,0.86000,1.520,2.170,0.630
co_CE,28308.0,11086,2.067369,0.006596,1.109695,1.231424,0.08,14.600,1.24000,2.020,2.650,2.160
co_SO2,29930.0,9464,1.346290,0.334188,57.815540,3342.636668,-9999.00,5.790,0.80000,1.500,2.390,0.640
no_SE,1876.0,37518,4.541258,0.131359,5.689548,32.370958,0.00,51.200,2.50000,2.800,3.900,2.500
no_CE,29080.0,10314,11.454309,0.133218,22.717454,516.082718,0.50,500.000,2.70000,5.400,11.900,1.500
no_SO2,31700.0,7694,8.803647,0.319663,56.914365,3239.244941,-9999.00,161.000,3.20000,8.200,11.000,10.100
no2_SE,2622.0,36772,9.000458,0.131687,6.743080,45.469126,0.00,53.800,4.60000,6.800,10.975,3.900
no2_CE,30320.0,9074,9.012949,0.039908,6.948981,48.288332,0.50,78.100,3.90000,7.200,12.500,4.700
no2_SO2,32450.0,6944,10.763223,0.311557,56.123469,3149.843758,-9999.00,82.300,5.70000,8.800,14.300,6.100
nox_SE,2623.0,36771,12.411209,0.210834,10.797892,116.594474,0.00,86.700,6.40000,9.000,13.800,7.400
nox_CE,30846.0,8548,19.408082,0.141530,24.856884,617.864661,1.00,500.000,6.90000,12.800,23.200,15.300
nox_SO2,32605.0,6789,19.423361,0.316064,57.071294,3257.132542,-9999.00,198.200,12.30000,16.900,23.300,15.300
pm10_NTE2,0.0,39394,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
pm2.5_NTE2,0.0,39394,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
o3_NTE2,0.0,39394,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
no_NTE2,0.0,39394,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
no2_NTE2,0.0,39394,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
nox_NTE2,0.0,39394,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
so2_NTE2,0.0,39394,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
co_NTE2,0.0,39394,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
prs_NTE2,0.0,39394,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
rh_NTE2,0.0,39394,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tout_NTE2,0.0,39394,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
sr_NTE2,0.0,39394,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
rainf_NTE2,0.0,39394,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ws_NTE2,0.0,39394,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wd_NTE2,0.0,39394,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
rainf_SE,38496.0,898,0.074820,0.005573,1.093447,1.195626,0.00,17.990,0.00000,0.000,0.000,0.000
rainf_CE,36487.0,2907,0.000066,0.000024,0.004588,0.000021,0.00,0.700,0.00000,0.000,0.000,0.000
rainf_SO2,38975.0,419,-0.250079,0.256552,50.648769,2565.297814,-9999.00,17.990,0.00000,0.000,0.000,0.000
sr_SE,38577.0,817,0.136696,0.001911,0.375352,0.140889,0.00,64.000,0.00700,0.012,0.235,0.007
sr_CE,38347.0,1047,0.187004,0.001186,0.232344,0.053984,0.00,1.096,0.00600,0.166,0.184,0.006
sr_SO2,20664.0,18730,-0.151159,0.483905,69.561202,4838.760847,-9999.00,0.971,0.08275,0.284,0.552,0.000
rh_SE,36352.0,3042,62.090256,0.107956,20.583173,423.666993,2.00,98.000,46.00000,64.000,79.000,83.000
rh_CE,38248.0,1146,58.045440,0.103335,20.209274,408.414752,1.00,99.000,42.00000,60.000,75.000,73.000
rh_SO2,38621.0,773,55.904094,0.380877,74.850781,5602.639429,-9999.00,92.000,42.00000,58.000,72.000,73.000
tout_SE,36365.0,3029,22.961066,0.037858,7.219357,52.119110,-9.62,42.120,18.34000,23.690,27.980,23.810
tout_CE,38162.0,1232,22.330329,0.034978,6.832941,46.689080,-4.75,40.550,17.86250,23.090,27.090,23.710
tout_SO2,38575.0,819,21.978276,0.262202,51.497927,2652.036517,-9999.00,40.440,17.65000,23.110,27.160,23.340
prs_SE,30059.0,9335,726.971988,0.038930,6.749552,45.556446,0.00,740.000,723.30000,726.600,730.300,723.600
prs_CE,37323.0,2071,711.483115,0.018280,3.531516,12.471603,689.40,726.000,709.10000,711.100,713.500,710.100
prs_SO2,38528.0,866,713.096085,0.278170,54.600673,2981.233439,-9999.00,738.900,712.30000,713.200,714.300,713.100
ws_SE,38326.0,1068,12.192185,0.032889,6.438656,41.456286,1.40,64.000,6.80000,11.300,16.800,2.900
ws_CE,38190.0,1204,6.338644,0.019711,3.851942,14.837453,0.10,122.400,3.60000,6.000,8.600,0.900
ws_SO2,29516.0,9878,4.529313,0.341158,58.611684,3435.329535,-9999.00,176.600,1.40000,4.200,6.400,0.600
wd_SE,4884.0,34510,89.714783,7.681562,536.830710,288187.211078,-9999.00,360.000,16.00000,69.000,150.250,352.000
wd_CE,38271.0,1123,116.692386,0.439580,85.994943,7395.130155,1.00,360.000,59.00000,89.000,141.000,67.000
wd_SO2,38489.0,905,113.096937,0.418914,82.185044,6754.381452,-9999.00,360.000,71.00000,87.000,122.000,70.000

In [ ]:
for col in list(clean_data.select_dtypes(include='number').columns):
  for i in clean_data.loc[clean_data[col] < -98].index:
      clean_data[col][i] = np.nan

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
df_stats(clean_data)

,N,N*,Mean,SE Mean,StdDev,Var,Minimum,Maximum,Q1,Median,Q3,Mode
pm2.5_SE,32802.0,6592,18.443387,0.068020,12.319400,151.767614,2.010,349.000,9.9900,15.390,23.690,8.000
pm2.5_CE,28882.0,10512,23.941130,0.092254,15.678303,245.809180,2.170,225.370,12.6100,20.000,31.240,9.000
pm2.5_SO2,20455.0,18939,18.930229,0.092377,13.211835,174.552574,2.000,156.000,9.0000,16.000,25.000,11.000
pm10_SE,37422.0,1972,50.225316,0.167839,32.468143,1054.180281,2.000,706.550,28.0000,43.710,64.000,28.000
pm10_CE,37712.0,1682,52.204350,0.177788,34.525628,1192.019012,2.000,735.000,29.0000,45.000,67.000,29.000
pm10_SO2,36919.0,2475,60.000433,0.186803,35.892953,1288.304079,2.000,714.000,37.0000,52.000,75.000,39.000
so2_SE,31663.0,7731,7.323990,0.020896,3.718334,13.826010,0.000,67.600,4.5000,6.800,9.700,4.100
so2_CE,20485.0,18909,4.294533,0.018123,2.593839,6.728003,0.500,61.900,2.7000,3.500,5.200,3.400
so2_SO2,29448.0,9946,4.205427,0.013065,2.242032,5.026707,-0.700,67.400,2.9000,3.600,4.800,3.200
o3_SE,37111.0,2283,27.249252,0.096294,18.550271,344.112542,1.000,139.000,12.0000,24.000,39.000,3.000
o3_CE,31956.0,7438,28.361278,0.112321,20.078706,403.154437,1.000,148.000,12.0000,25.000,40.000,6.000
o3_SO2,37917.0,1477,25.395284,0.098057,19.093992,364.580533,1.000,153.000,10.0000,22.000,35.000,3.000
co_SE,31582.0,7812,1.552670,0.004560,0.810297,0.656582,0.050,32.000,0.8600,1.520,2.170,0.630
co_CE,28308.0,11086,2.067369,0.006596,1.109695,1.231424,0.080,14.600,1.2400,2.020,2.650,2.160
co_SO2,29929.0,9465,1.680425,0.005931,1.026016,1.052708,0.010,5.790,0.8000,1.500,2.390,0.640
no_SE,1876.0,37518,4.541258,0.131359,5.689548,32.370958,0.000,51.200,2.5000,2.800,3.900,2.500
no_CE,29080.0,10314,11.454309,0.133218,22.717454,516.082718,0.500,500.000,2.7000,5.400,11.900,1.500
no_SO2,31699.0,7695,9.119360,0.050095,8.919003,79.548613,0.500,161.000,3.2000,8.200,11.000,10.100
no2_SE,2622.0,36772,9.000458,0.131687,6.743080,45.469126,0.000,53.800,4.6000,6.800,10.975,3.900
no2_CE,30320.0,9074,9.012949,0.039908,6.948981,48.288332,0.500,78.100,3.9000,7.200,12.500,4.700
no2_SO2,32449.0,6945,11.071700,0.043701,7.872161,61.970923,0.500,82.300,5.7000,8.800,14.300,6.100
nox_SE,2623.0,36771,12.411209,0.210834,10.797892,116.594474,0.000,86.700,6.4000,9.000,13.800,7.400
nox_CE,30846.0,8548,19.408082,0.141530,24.856884,617.864661,1.000,500.000,6.9000,12.800,23.200,15.300
nox_SO2,32604.0,6790,19.730637,0.074017,13.365013,178.623573,0.500,198.200,12.3000,16.900,23.300,15.300
pm10_NTE2,0.0,39394,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
pm2.5_NTE2,0.0,39394,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
o3_NTE2,0.0,39394,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
no_NTE2,0.0,39394,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
no2_NTE2,0.0,39394,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
nox_NTE2,0.0,39394,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
so2_NTE2,0.0,39394,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
co_NTE2,0.0,39394,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
prs_NTE2,0.0,39394,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
rh_NTE2,0.0,39394,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tout_NTE2,0.0,39394,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
sr_NTE2,0.0,39394,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
rainf_NTE2,0.0,39394,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ws_NTE2,0.0,39394,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wd_NTE2,0.0,39394,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
rainf_SE,38496.0,898,0.074820,0.005573,1.093447,1.195626,0.000,17.990,0.0000,0.000,0.000,0.000
rainf_CE,36487.0,2907,0.000066,0.000024,0.004588,0.000021,0.000,0.700,0.0000,0.000,0.000,0.000
rainf_SO2,38974.0,420,0.006470,0.001244,0.245652,0.060345,0.000,17.990,0.0000,0.000,0.000,0.000
sr_SE,38577.0,817,0.136696,0.001911,0.375352,0.140889,0.000,64.000,0.0070,0.012,0.235,0.007
sr_CE,38347.0,1047,0.187004,0.001186,0.232344,0.053984,0.000,1.096,0.0060,0.166,0.184,0.006
sr_SO2,20663.0,18731,0.332742,0.001874,0.269329,0.072538,-0.002,0.971,0.0830,0.284,0.552,0.000
rh_SE,36352.0,3042,62.090256,0.107956,20.583173,423.666993,2.000,98.000,46.0000,64.000,79.000,83.000
rh_CE,38248.0,1146,58.045440,0.103335,20.209274,408.414752,1.000,99.000,42.0000,60.000,75.000,73.000
rh_SO2,38619.0,775,56.424817,0.097444,19.149446,366.701291,1.000,92.000,42.0000,58.000,72.000,73.000
tout_SE,36365.0,3029,22.961066,0.037858,7.219357,52.119110,-9.620,42.120,18.3400,23.690,27.980,23.810
tout_CE,38162.0,1232,22.330329,0.034978,6.832941,46.689080,-4.750,40.550,17.8625,23.090,27.090,23.710
tout_SO2,38574.0,820,22.238062,0.035518,6.975831,48.662217,-6.090,40.440,17.6500,23.110,27.160,23.340
prs_SE,30059.0,9335,726.971988,0.038930,6.749552,45.556446,0.000,740.000,723.3000,726.600,730.300,723.600
prs_CE,37323.0,2071,711.483115,0.018280,3.531516,12.471603,689.400,726.000,709.1000,711.100,713.500,710.100
prs_SO2,38527.0,867,713.374127,0.008451,1.658729,2.751382,702.400,738.900,712.3000,713.200,714.300,713.100
ws_SE,38326.0,1068,12.192185,0.032889,6.438656,41.456286,1.400,64.000,6.8000,11.300,16.800,2.900
ws_CE,38190.0,1204,6.338644,0.019711,3.851942,14.837453,0.100,122.400,3.6000,6.000,8.600,0.900
ws_SO2,29515.0,9879,4.868243,0.038924,6.687038,44.716474,0.100,176.600,1.4000,4.200,6.400,0.600
wd_SE,4871.0,34523,116.640115,1.842361,128.583060,16533.603310,1.000,360.000,17.0000,69.000,153.000,352.000
wd_CE,38271.0,1123,116.692386,0.439580,85.994943,7395.130155,1.000,360.000,59.0000,89.000,141.000,67.000
wd_SO2,38488.0,906,113.359671,0.326290,64.012730,4097.629643,1.000,360.000,71.0000,87.000,122.000,70.000

In [ ]:
for col in list(filter(lambda k: 'so2' in k, clean_data.columns)):
  for i in clean_data.loc[clean_data[col] < 0].index:
      clean_data[col][i] = np.nan

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
df_stats(clean_data)

,N,N*,Mean,SE Mean,StdDev,Var,Minimum,Maximum,Q1,Median,Q3,Mode
pm2.5_SE,32802.0,6592,18.443387,0.068020,12.319400,151.767614,2.010,349.000,9.9900,15.390,23.690,8.000
pm2.5_CE,28882.0,10512,23.941130,0.092254,15.678303,245.809180,2.170,225.370,12.6100,20.000,31.240,9.000
pm2.5_SO2,20455.0,18939,18.930229,0.092377,13.211835,174.552574,2.000,156.000,9.0000,16.000,25.000,11.000
pm10_SE,37422.0,1972,50.225316,0.167839,32.468143,1054.180281,2.000,706.550,28.0000,43.710,64.000,28.000
pm10_CE,37712.0,1682,52.204350,0.177788,34.525628,1192.019012,2.000,735.000,29.0000,45.000,67.000,29.000
pm10_SO2,36919.0,2475,60.000433,0.186803,35.892953,1288.304079,2.000,714.000,37.0000,52.000,75.000,39.000
so2_SE,31663.0,7731,7.323990,0.020896,3.718334,13.826010,0.000,67.600,4.5000,6.800,9.700,4.100
so2_CE,20485.0,18909,4.294533,0.018123,2.593839,6.728003,0.500,61.900,2.7000,3.500,5.200,3.400
so2_SO2,29447.0,9947,4.205593,0.013065,2.241888,5.026060,0.500,67.400,2.9000,3.600,4.800,3.200
o3_SE,37111.0,2283,27.249252,0.096294,18.550271,344.112542,1.000,139.000,12.0000,24.000,39.000,3.000
o3_CE,31956.0,7438,28.361278,0.112321,20.078706,403.154437,1.000,148.000,12.0000,25.000,40.000,6.000
o3_SO2,37917.0,1477,25.395284,0.098057,19.093992,364.580533,1.000,153.000,10.0000,22.000,35.000,3.000
co_SE,31582.0,7812,1.552670,0.004560,0.810297,0.656582,0.050,32.000,0.8600,1.520,2.170,0.630
co_CE,28308.0,11086,2.067369,0.006596,1.109695,1.231424,0.080,14.600,1.2400,2.020,2.650,2.160
co_SO2,29929.0,9465,1.680425,0.005931,1.026016,1.052708,0.010,5.790,0.8000,1.500,2.390,0.640
no_SE,1876.0,37518,4.541258,0.131359,5.689548,32.370958,0.000,51.200,2.5000,2.800,3.900,2.500
no_CE,29080.0,10314,11.454309,0.133218,22.717454,516.082718,0.500,500.000,2.7000,5.400,11.900,1.500
no_SO2,31699.0,7695,9.119360,0.050095,8.919003,79.548613,0.500,161.000,3.2000,8.200,11.000,10.100
no2_SE,2622.0,36772,9.000458,0.131687,6.743080,45.469126,0.000,53.800,4.6000,6.800,10.975,3.900
no2_CE,30320.0,9074,9.012949,0.039908,6.948981,48.288332,0.500,78.100,3.9000,7.200,12.500,4.700
no2_SO2,32449.0,6945,11.071700,0.043701,7.872161,61.970923,0.500,82.300,5.7000,8.800,14.300,6.100
nox_SE,2623.0,36771,12.411209,0.210834,10.797892,116.594474,0.000,86.700,6.4000,9.000,13.800,7.400
nox_CE,30846.0,8548,19.408082,0.141530,24.856884,617.864661,1.000,500.000,6.9000,12.800,23.200,15.300
nox_SO2,32604.0,6790,19.730637,0.074017,13.365013,178.623573,0.500,198.200,12.3000,16.900,23.300,15.300
pm10_NTE2,0.0,39394,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
pm2.5_NTE2,0.0,39394,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
o3_NTE2,0.0,39394,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
no_NTE2,0.0,39394,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
no2_NTE2,0.0,39394,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
nox_NTE2,0.0,39394,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
so2_NTE2,0.0,39394,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
co_NTE2,0.0,39394,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
prs_NTE2,0.0,39394,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
rh_NTE2,0.0,39394,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tout_NTE2,0.0,39394,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
sr_NTE2,0.0,39394,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
rainf_NTE2,0.0,39394,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ws_NTE2,0.0,39394,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wd_NTE2,0.0,39394,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
rainf_SE,38496.0,898,0.074820,0.005573,1.093447,1.195626,0.000,17.990,0.0000,0.000,0.000,0.000
rainf_CE,36487.0,2907,0.000066,0.000024,0.004588,0.000021,0.000,0.700,0.0000,0.000,0.000,0.000
rainf_SO2,38974.0,420,0.006470,0.001244,0.245652,0.060345,0.000,17.990,0.0000,0.000,0.000,0.000
sr_SE,38577.0,817,0.136696,0.001911,0.375352,0.140889,0.000,64.000,0.0070,0.012,0.235,0.007
sr_CE,38347.0,1047,0.187004,0.001186,0.232344,0.053984,0.000,1.096,0.0060,0.166,0.184,0.006
sr_SO2,20663.0,18731,0.332742,0.001874,0.269329,0.072538,-0.002,0.971,0.0830,0.284,0.552,0.000
rh_SE,36352.0,3042,62.090256,0.107956,20.583173,423.666993,2.000,98.000,46.0000,64.000,79.000,83.000
rh_CE,38248.0,1146,58.045440,0.103335,20.209274,408.414752,1.000,99.000,42.0000,60.000,75.000,73.000
rh_SO2,38619.0,775,56.424817,0.097444,19.149446,366.701291,1.000,92.000,42.0000,58.000,72.000,73.000
tout_SE,36365.0,3029,22.961066,0.037858,7.219357,52.119110,-9.620,42.120,18.3400,23.690,27.980,23.810
tout_CE,38162.0,1232,22.330329,0.034978,6.832941,46.689080,-4.750,40.550,17.8625,23.090,27.090,23.710
tout_SO2,38574.0,820,22.238062,0.035518,6.975831,48.662217,-6.090,40.440,17.6500,23.110,27.160,23.340
prs_SE,30059.0,9335,726.971988,0.038930,6.749552,45.556446,0.000,740.000,723.3000,726.600,730.300,723.600
prs_CE,37323.0,2071,711.483115,0.018280,3.531516,12.471603,689.400,726.000,709.1000,711.100,713.500,710.100
prs_SO2,38527.0,867,713.374127,0.008451,1.658729,2.751382,702.400,738.900,712.3000,713.200,714.300,713.100
ws_SE,38326.0,1068,12.192185,0.032889,6.438656,41.456286,1.400,64.000,6.8000,11.300,16.800,2.900
ws_CE,38190.0,1204,6.338644,0.019711,3.851942,14.837453,0.100,122.400,3.6000,6.000,8.600,0.900
ws_SO2,29515.0,9879,4.868243,0.038924,6.687038,44.716474,0.100,176.600,1.4000,4.200,6.400,0.600
wd_SE,4871.0,34523,116.640115,1.842361,128.583060,16533.603310,1.000,360.000,17.0000,69.000,153.000,352.000
wd_CE,38271.0,1123,116.692386,0.439580,85.994943,7395.130155,1.000,360.000,59.0000,89.000,141.000,67.000
wd_SO2,38488.0,906,113.359671,0.326290,64.012730,4097.629643,1.000,360.000,71.0000,87.000,122.000,70.000

In [ ]:
for col in list(filter(lambda k: 'prs' in k, clean_data.columns)):
  for i in clean_data.loc[clean_data[col] < 400].index:
      clean_data[col][i] = np.nan

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
for col in list(filter(lambda k: 'sr' in k, clean_data.columns)):
  for i in clean_data.loc[clean_data[col] > 10].index:
      clean_data[col][i] = np.nan

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:

final_clean_data = clean_data[list(filter(lambda k: 'NTE2' not in k, clean_data.columns))]

In [ ]:
df_stats(final_clean_data)

,N,N*,Mean,SE Mean,StdDev,Var,Minimum,Maximum,Q1,Median,Q3,Mode
pm2.5_SE,32802.0,6592,18.443387,0.068020,12.319400,151.767614,2.010,349.000,9.9900,15.390,23.69000,8.000
pm2.5_CE,28882.0,10512,23.941130,0.092254,15.678303,245.809180,2.170,225.370,12.6100,20.000,31.24000,9.000
pm2.5_SO2,20455.0,18939,18.930229,0.092377,13.211835,174.552574,2.000,156.000,9.0000,16.000,25.00000,11.000
pm10_SE,37422.0,1972,50.225316,0.167839,32.468143,1054.180281,2.000,706.550,28.0000,43.710,64.00000,28.000
pm10_CE,37712.0,1682,52.204350,0.177788,34.525628,1192.019012,2.000,735.000,29.0000,45.000,67.00000,29.000
pm10_SO2,36919.0,2475,60.000433,0.186803,35.892953,1288.304079,2.000,714.000,37.0000,52.000,75.00000,39.000
so2_SE,31663.0,7731,7.323990,0.020896,3.718334,13.826010,0.000,67.600,4.5000,6.800,9.70000,4.100
so2_CE,20485.0,18909,4.294533,0.018123,2.593839,6.728003,0.500,61.900,2.7000,3.500,5.20000,3.400
so2_SO2,29447.0,9947,4.205593,0.013065,2.241888,5.026060,0.500,67.400,2.9000,3.600,4.80000,3.200
o3_SE,37111.0,2283,27.249252,0.096294,18.550271,344.112542,1.000,139.000,12.0000,24.000,39.00000,3.000
o3_CE,31956.0,7438,28.361278,0.112321,20.078706,403.154437,1.000,148.000,12.0000,25.000,40.00000,6.000
o3_SO2,37917.0,1477,25.395284,0.098057,19.093992,364.580533,1.000,153.000,10.0000,22.000,35.00000,3.000
co_SE,31582.0,7812,1.552670,0.004560,0.810297,0.656582,0.050,32.000,0.8600,1.520,2.17000,0.630
co_CE,28308.0,11086,2.067369,0.006596,1.109695,1.231424,0.080,14.600,1.2400,2.020,2.65000,2.160
co_SO2,29929.0,9465,1.680425,0.005931,1.026016,1.052708,0.010,5.790,0.8000,1.500,2.39000,0.640
no_SE,1876.0,37518,4.541258,0.131359,5.689548,32.370958,0.000,51.200,2.5000,2.800,3.90000,2.500
no_CE,29080.0,10314,11.454309,0.133218,22.717454,516.082718,0.500,500.000,2.7000,5.400,11.90000,1.500
no_SO2,31699.0,7695,9.119360,0.050095,8.919003,79.548613,0.500,161.000,3.2000,8.200,11.00000,10.100
no2_SE,2622.0,36772,9.000458,0.131687,6.743080,45.469126,0.000,53.800,4.6000,6.800,10.97500,3.900
no2_CE,30320.0,9074,9.012949,0.039908,6.948981,48.288332,0.500,78.100,3.9000,7.200,12.50000,4.700
no2_SO2,32449.0,6945,11.071700,0.043701,7.872161,61.970923,0.500,82.300,5.7000,8.800,14.30000,6.100
nox_SE,2623.0,36771,12.411209,0.210834,10.797892,116.594474,0.000,86.700,6.4000,9.000,13.80000,7.400
nox_CE,30846.0,8548,19.408082,0.141530,24.856884,617.864661,1.000,500.000,6.9000,12.800,23.20000,15.300
nox_SO2,32604.0,6790,19.730637,0.074017,13.365013,178.623573,0.500,198.200,12.3000,16.900,23.30000,15.300
rainf_SE,38496.0,898,0.074820,0.005573,1.093447,1.195626,0.000,17.990,0.0000,0.000,0.00000,0.000
rainf_CE,36487.0,2907,0.000066,0.000024,0.004588,0.000021,0.000,0.700,0.0000,0.000,0.00000,0.000
rainf_SO2,38974.0,420,0.006470,0.001244,0.245652,0.060345,0.000,17.990,0.0000,0.000,0.00000,0.000
sr_SE,38576.0,818,0.135040,0.000955,0.187511,0.035160,0.000,0.704,0.0070,0.012,0.23425,0.007
sr_CE,38347.0,1047,0.187004,0.001186,0.232344,0.053984,0.000,1.096,0.0060,0.166,0.18400,0.006
sr_SO2,20663.0,18731,0.332742,0.001874,0.269329,0.072538,-0.002,0.971,0.0830,0.284,0.55200,0.000
rh_SE,36352.0,3042,62.090256,0.107956,20.583173,423.666993,2.000,98.000,46.0000,64.000,79.00000,83.000
rh_CE,38248.0,1146,58.045440,0.103335,20.209274,408.414752,1.000,99.000,42.0000,60.000,75.00000,73.000
rh_SO2,38619.0,775,56.424817,0.097444,19.149446,366.701291,1.000,92.000,42.0000,58.000,72.00000,73.000
tout_SE,36365.0,3029,22.961066,0.037858,7.219357,52.119110,-9.620,42.120,18.3400,23.690,27.98000,23.810
tout_CE,38162.0,1232,22.330329,0.034978,6.832941,46.689080,-4.750,40.550,17.8625,23.090,27.09000,23.710
tout_SO2,38574.0,820,22.238062,0.035518,6.975831,48.662217,-6.090,40.440,17.6500,23.110,27.16000,23.340
prs_SE,30058.0,9336,726.996174,0.030507,5.289093,27.974508,684.100,740.000,723.3000,726.600,730.30000,723.600
prs_CE,37323.0,2071,711.483115,0.018280,3.531516,12.471603,689.400,726.000,709.1000,711.100,713.50000,710.100
prs_SO2,38527.0,867,713.374127,0.008451,1.658729,2.751382,702.400,738.900,712.3000,713.200,714.30000,713.100
ws_SE,38326.0,1068,12.192185,0.032889,6.438656,41.456286,1.400,64.000,6.8000,11.300,16.80000,2.900
ws_CE,38190.0,1204,6.338644,0.019711,3.851942,14.837453,0.100,122.400,3.6000,6.000,8.60000,0.900
ws_SO2,29515.0,9879,4.868243,0.038924,6.687038,44.716474,0.100,176.600,1.4000,4.200,6.40000,0.600
wd_SE,4871.0,34523,116.640115,1.842361,128.583060,16533.603310,1.000,360.000,17.0000,69.000,153.00000,352.000
wd_CE,38271.0,1123,116.692386,0.439580,85.994943,7395.130155,1.000,360.000,59.0000,89.000,141.00000,67.000
wd_SO2,38488.0,906,113.359671,0.326290,64.012730,4097.629643,1.000,360.000,71.0000,87.000,122.00000,70.000

In [ ]:
save_to_Drive(path, final_clean_data, 'final_all_stations')